@keyframes scrolling {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-300%);
  }
  80% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(-500%);
  }
}

.scrolling-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  animation: scrolling 15s linear infinite; /* Adjust the duration as needed */
}
